.form {
    background-color: #fcf2bce1;
    min-height: 10vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(53, 8, 253);
  }
